.main-layout {
  background-color: rgb(249, 249, 249);
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 8rem;
    @include b-800{
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  &__data {
    color: #fff;
    background-color: $primary-color;
    border-radius: 2rem;
    padding: 2.5rem 3.5rem 2.5rem 2.5rem;
    @include b-420{
      border-radius: 1rem;
      padding: 2rem 3rem 2rem 2rem;
    }
  }
  &__subtitle{
    color: #fff;
  }
  &__list {
    & li {
      font-family: $main-font;
      font-size: 1.5rem;
      line-height: 1.5;
      margin-top: 1.5rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__images {
    display: grid;
    gap: 3rem;
  }
  &__img {
    background-color: #fff;
    padding: 1rem;
    & img {
      width: 100%;
    }
  }
}
