.header {
  padding: 2rem 0;
  box-shadow: inset 0px 0px 20px 0px #ccc;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #fff;
  @include b-580 {
    padding: 1.5rem 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include b-800 {
      width: 18rem;
    }
  }
  &__nav {
    @include b-800 {
      height: 100vh;
      background-color: $primary-color;
      position: fixed;
      top: 0;
      left: 0;
      width: 60%;
      max-width: 25rem;
      z-index: 20;
      transform: translateX(-100%);
      transition-property: transform;
      transition-duration: 0.5s;
      &--show {
        transform: translateX(0);
      }
    }
  }
  &__close {
    display: none;
    @include b-800 {
      display: block;
      position: absolute;
      top: 2rem;
      right: 1.5rem;
      & svg {
        color: #fff;
        font-size: 2.5rem;
      }
    }
  }
  &__burguer {
    display: none;
    @include b-800 {
      display: block;
      cursor: pointer;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 0.3s;
      &--show {
        visibility: hidden;
        opacity: 0;
      }
      & svg {
        color: $primary-color;
        font-size: 2.3rem;
      }
    }
  }
}
